* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
}

.calculator {
  width: fit-content;
  background-color: #000;
  border-radius: 2em;
  padding: 40px 10px;
}

.calculator form {
  display: grid;
  /* 격자 형식 */
  grid-template-columns: repeat(4, 65px);
  /* 4열, 너비: 65px */
  grid-auto-rows: 65px;
  /* 높이: 65px */
  gap: 10px;
  /* 사이 간격 */
}

.calculator form input {
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 2em;
  font-size: 1.6em;
}

.calculator form input:hover:not([type="text"]) {
  box-shadow: inset 0px 0px 5px #333;
}

.calculator form .clear {
  background-color: salmon;
}

.calculator form .operator {
  background-color: orange;
}

.calculator form .dot {
  background-color: teal;
}

.calculator form input[type="text"] {
  grid-column: span 4;
  /* 4칸 차지 */
  grid-row: span 2;
  text-align: right;
  padding: 0 10px;
  cursor: auto;
}

.calculator form input[type="text"]:focus {
  outline: none;
}

.calculator form .clear {
  grid-column: span 3;
  /* 3칸 차지 */
}

.calculator form .result {
  grid-column: span 2;
}
